<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="css/navbar.css" rel="stylesheet">
    <link type="text/css" href="scss/search-bar.css" rel="stylesheet">
</head>

<body>
    <div class="hero">
        <nav>
            <ul>
                <% if (user) { %>
                    <li><a href="/">Home</a></li>
                    <% } %>

                        <li><a href="register">Register</a></li>
                        <li><a href="login">Sign In</a></li>
                        <li><a href="profile">Profile</a></li>
                        <li><a href="logout">Log Out</a></li>
            </ul>
        </nav>
    </div>

</body>

</html>