<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="css/register.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="register-form">
            <form action="" method="POST">
                <h2>Register</h2>
                <input type="text" name="username" class="input-field" placeholder="User Name" required />
                <input type="password" name="password" class="input-field" placeholder="Password" required />
                <input type="email" name="email" class="input-field" placeholder="E-mail" required />
                <button type="submit" class="register-btn" value="Register"><strong>Register</strong></button>
            </form>
            <div class="btn-group">
                <a href="login"><button class="register-btn" value="Register"><strong>LogIn</strong></button>
                </a>
            </div>
        </div>
    </section>
</body>

</html>