@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
    background-color: hsl(0, 0%, 49%);
}

.form-div {
    border: 3px solid #000000;
    max-width: 50rem;
    max-height: 100vh;
    margin: 0 auto;
    position: relative;


}

.register-form {
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 0rem 1rem;


}

.register-form label.usernameLabel,
.register-form label.passwordLabel,
.register-form label.emailLabel,
.register-form label.confirmPasswordLabel {
    display: block;
    width: 20%;
    padding: 0.4rem;
    border: 1px solid #000000;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
}

.register-form label.gender {
    border: 1px solid #000000;
}

.register-form input[name="gender"] {
    border: 1px solid #000000;

}

.register-form input[name="username"],
.register-form input[name="email"],
.register-form input[name="password"],
.register-form input[name="confirmPassword"] {
    display: block;
    width: 70%;
    padding: 0.4rem;
    border: 1px solid #000000;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
}

.register-form .register-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-left: 3rem;
}

.register-form .login-btn {
    margin-left: 3rem;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
}