<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <title>Document</title>
</head>

<body>
    <section class="box">
        <div class="design">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="form">
            <h2>Login</h2>
            <form action="" method="POST">
                <input type="text" name="username" class="input-field" placeholder="username" />
                <input type="password" name="password" class="input-field" placeholder="password" />
                <input type="submit" class="btn" value="Login" />
            </form>
        </div>
    </section>
</body>

</html>